<!--
/***************************************************************
* Name        : M8T2/Index.cshtml
* Author      : Tom Sorteberg
* Created     : 03/15/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Module 8 Topic 2
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model IEnumerable<Ticket>
@{
    string Overdue(Ticket ticket) => ticket.Overdue ? "bg-warning" : "";
}
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Filter" method="post">
            <div class="form-group">
                <label>Due:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.DueFilters,
                    "Key", "Value", ViewBag.Filters.Due))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Statuses,
                    "StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>
        </form>
    </div>
    <div class="col-sm-10">

        <a asp-action="Add"><b>Add new ticket.</b></a>

        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th>Ticket#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Sprint#</th>
                    <th>Point Value</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th class="w-25"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ticket ticket in Model)
                {
                    string overdue = Overdue(ticket);
                    <tr>
                        <td>@ticket.Id</td>
                        <td>@ticket.Name</td>
                        <td>@ticket.Description</td>
                        <td>@ticket.SprintNumber</td>
                        <td>@ticket.PointValue</td>
                        <td class="@overdue">@ticket.DueDate?.ToShortDateString()</td>
                        <td class="@overdue">@ticket.Status.Name</td>
                        <td>
                            <form asp-action="Edit" method="post"
                                  asp-route-id="@ViewBag.Filters.FilterString"
                                  class="mr-2">

                                <input type="hidden" name="@nameof(ticket.Id)" value="@ticket.Id" />

                                <button type="submit"
                                        name="@nameof(ticket.StatusId)" value="done"
                                        class="btn btn-primary btn-sm">
                                    Done
                                </button>

                                <button type="submit"
                                        class="btn btn-primary btn-sm">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>