<!--
/***************************************************************
* Name        : Admin/AdminIndex.cshtml
* Author      : Tom Sorteberg
* Created     : 02/14/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Module 4 Topic 5
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model List<Assignment>
@{
    ViewBag.Title = "My Assignments: Administration";
}

<h2>@ViewBag.Title</h2>

<a asp-controller="Assignment" asp-action="Add">Add New Assignment</a>
<table class="table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assignment in Model)
        {
            <tr>
                <td>@assignment.Name</td>
                <td>@assignment.URL</td>
                <td>@assignment.Note</td>
                <td>
                    <a asp-controller="Assignment" asp-action="Edit" asp-route-id="@assignment.AssignmentId" asp-route-slug="@assignment.Slug">Edit</a>
                    <a asp-controller="Assignment" asp-action="Delete" asp-route-id="@assignment.AssignmentId" asp-route-slug="@assignment.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
