<!--
/***************************************************************
* Name        : M6T3/Details.cshtml
* Author      : Tom Sorteberg
* Created     : 03/01/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Module 6 Topic 3
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model CountryViewModel
@{
    ViewData["Title"] = "Country Details";
}

<h2 class="text-center p-2">Country Details</h2>

<div class="row">
    <div class="col-6 offset-3">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <img src="~/images/@Model.Country.LogoImage" alt="" />
                <h3>@Model.Country.Name</h3>
            </li>
            <li class="list-group-item">
                <h4>Game: @Model.Country.Game.Name</h4>
            </li>
            <li class="list-group-item">
                <h4>Category: @Model.Country.Category.Name</h4>
            </li>
            <li class="list-group-item">
                <a asp-action="Index" asp-route-activeConf="@Model.ActiveGame"
                   asp-route-activeDiv="@Model.ActiveCategory">Return to Home Page</a>
            </li>
        </ul>
    </div>
</div>
