<!--
/***************************************************************
* Name        : M6T3/Index.cshtml
* Author      : Tom Sorteberg
* Created     : 02/28/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Module 6 Topic 3
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model CountryListViewModel
@{
    ViewData["Title"] = "Olmypic Participants";
}

<div class="row">
    <div class="col-sm-3">
        <h3 class="mt-3">Game</h3>
        <div class="list-group">
            @foreach (Game game in Model.Games)
            {
                <a asp-action="Index"
                   asp-route-activeGame="@game.GameID"
                   asp-route-activeCategory="@Model.ActiveCategory"
                   class="list-group-item @Model.CheckActiveGame(game.GameID)">@game.Name
                </a>
            }
        </div>
        <h3 class="mt-3">Category</h3>
        <div class="list-group">
            @foreach (Category category in Model.Categories)
            {
                <a asp-action="Index"
                   asp-route-activeGame="@Model.ActiveGame"
                   asp-route-activeCategory="@category.CategoryID"
                   class="list-group-item @Model.CheckActiveCategory(category.CategoryID)">@category.Name
                </a>
            }
        </div>
    </div>
    <div class="col-sm-9">
        <ul class="list-inline">
            @foreach (Country country in Model.Countries)
            {
                <li class="list-inline-item">
                    <form asp-action="Details" method="post">
                        <button class="bg-white border-0" type="submit">
                            <img src="~/images/@country.LogoImage" alt="@country.Name"
                                 title="@country.Name | @country.Game.Name | @country.Category.Name" />
                        </button>

                        <input type="hidden" asp-for="@country.CountryID" />
                        <input type="hidden" asp-for="ActiveGame" />
                        <input type="hidden" asp-for="ActiveCategory" />
                    </form>
                </li>
            }
        </ul>
    </div>
</div>