<!--
/***************************************************************
* Name        : M9T2/Index.cshtml
* Author      : Tom Sorteberg
* Created     : 03/22/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Module 9 Topic 2
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model IEnumerable<RegistrationModel>

<table class="table table-bordered table-striped mt-2">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RegistrationModel registration in Model)
        {
            <tr>
                <td>
                    @registration.Name.ToString()
                </td>
                <td>
                    @registration.Address.ToString()
                </td>
                <td>
                    @registration.Phone.ToString()
                </td>
                <td>
                    @registration.EmailAddress.ToString()
                </td>
                <td>
                    @registration.Preference.ToString()
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@registration.Id">Delete</a>
                </td>
            </tr>
        }
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Add New Registration</a>
    </tbody>
</table>
