<!--
/***************************************************************
* Name        : M9T2/Index.cshtml
* Author      : Tom Sorteberg
* Created     : 03/22/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Module 9 Topic 2
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model RegistrationModel

<table class="table table-bordered table-striped mt-2">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Name.ToString()
            </td>
            <td>
                @Model.Address.ToString()
            </td>
            <td>
                @Model.Phone.ToString()
            </td>
            <td>
                @Model.EmailAddress.ToString()
            </td>
            <td>
                @Model.Preference.ToString()
            </td>
        </tr>
    </tbody>
</table>
